@import "colors.scss";

.accountManage-box {
  position: relative;
  width: 100%;
  padding-top: 40px;
  height: 540px;
  background-color: $gray;
  text-align: center;
  overflow: scroll;
  .account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
    // &:nth-child(2n+1) {
    //   background-color: $white;
    // }
    .left {
      span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
      }
      .account-name-box {
        text-align: left;
        .account-title {
          text-align: center;
          width: 73px;
          height: 20px;
          line-height: 20px;
          color: $white;
          background-color: #E28A1E;
          &.test {
            background-color: $green;
          }
          &.local {
            background-color: $blue;
          }
        }
        .account-name {
          margin-left: 15px;
        }
      }
      .publicKey-box {
        display: flex;
        align-self: center;
        text-align: left;
        margin-top: 10px;
        .publicKey-title {
          text-align: center;
          width: 73px;
          height: 20px;
          line-height: 20px;
          color: $white;
          background-color: $btn-gray;
        }
        .publicKey-name {
          margin-left: 15px;
          display: flex;
          align-items: center;
          gap: 8px;
          .truncate {
            max-width: 200px !important;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .copy {
            display: inline-block;
            margin-left: 5px;
            width: 15px;
            height: 19px;
            background-image: url("/static/images/copy.png");
            background-size: cover;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      width: 20px;
      height: 22px;
      background-image: url("/static/images/delete.png");
      background-size: cover;
      cursor: pointer;
    }
    .key {
      width: 24px;
      height: 24px;
      background-image: url("/static/images/key.png");
      background-size: cover;
      cursor: pointer;
    }
    
  }
}

.pwd-modal-wrapper {
  background-color: $white;
  height: 100px;
  border-radius: 4px;
  
  .content-box {
    height: auto;
    margin-top: 0;
  }
  .modal-title {
    margin-bottom: 10px;
    font-weight: bold;
  }
  .pwd-modal-container {
    width: 300px;
    .btn-box{
      margin-top: 30px;
      display: flex;
      gap: 10px;
      .btn-cancel{
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
      }
      .btn-confirm {
      }
    }
  }
  .input-box{
    position: relative;
    display: flex;
    margin-top: 10px;
    .input-address {
      flex:1;
      padding: 0 40px 0 10px;
    }
  }
  input[type="password"]::-ms-reveal{
    display: none;
  }
  .eye{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top:8px;
    background-image: url("/static/images/eye.png");
    background-size: cover;
    cursor: pointer;
  }
  .eye-close{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top:8px;
    width: 24px;
    height: 24px;
    background-image: url("/static/images/eye-close.png");
    background-size: cover;
    cursor: pointer;
  }
  // .delete-container {
  //   width: 300px;
  //   padding: 18px 20px 0;
  //   color: #333333;
  //   .confirmDelTip {
  //     font-size: 13px;
  //     font-weight: 300;
  //   }
  //   .btn-confirm {
  //     position: absolute;
  //     bottom: 20px;
  //     left: 0;
  //     right: 0;
  //     margin: 0 auto;
  //     width: 250px;
  //   }
  // }
}